# Frontends
[frontends]
{% for tenant in tenants %}
	{% for backend in tenant.backends %}
		[frontends.frontend_{{ tenant.tenant }}_{{ backend.name }}]
		entryPoints = ["http", "https"]
		backend = "backend_{{ tenant.tenant }}_{{ backend.name }}"
		passHostHeader = true
		priority = 42
		
		{% if backend.hostname %}
			[frontends.frontend1.routes.roule_host]
			rule = "Host:{{ backend.hostname }}"
		{% endif %}
		
		{% if backend.pathprefix %}
			[frontends.frontend1.routes.roule_path]
			rule = "PathPrefix:{{ backend.pathprefix }}"
		{% endif %}
		
	{% endfor %}
{% endfor %}

# Backends
[backends]
{% for tenant in tenants %}
	{% for backend in tenant.backends %}
		[backends.backend_{{ tenant.tenant }}_{{ backend.name }}]
		[backends.backend_{{ tenant.tenant }}_{{ backend.name }}.servers]
			{% for server in backend.servers %}
			[backends.backend_{{ tenant.tenant }}_{{ backend.name }}.servers.server{{loop.index}}]
			url = "http://{{server}}"
			weight = {{loop.index}}
			{% endfor %}
	{% endfor %}
{% endfor %}