[Unit]
Description=traefik service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=sysadmin
ExecStart=/opt/traefik/traefik_linux-amd64 --configFile=/etc/traefikconf/traefik.linux-amd64.toml

[Install]
WantedBy=multi-user.target